@import "../../styles/vars.scss";

.partnerandteam{
    max-width: 100%;
}
.photos {
    display: flex;
    justify-content:center;
    img{
        max-width: 22%;
    }
}

.our__team {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
    img {
       width: 20vw;
       max-width: 300px;

    }
}
}
.team__name {
    text-align: center;
    padding: 1.5rem;

    .name {
        padding-bottom: 5px;
        font-size: 2vw;
        font-weight: bolder;
        font-family: $fontM;
    }

    .profession {
        font-size: 1.6vw;
        font-family: $fontM;
    }
}
.sliderContainer{
    display: none;
}
@media  (max-width: 780px) { 
    .photos{
        padding: 1rem;
        display: flex;
        overflow-x: scroll;
        scroll-padding: 0 50%;
        scroll-snap-type: x mandatory;
        img{
            max-width: 100vw;
            scroll-snap-align: center;
        }
    }
    .our__team {
        display: none;
    }
        .sliderContainer{
            max-width: 100vw;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            align-items: center;
        }
        .team {
        img {
           max-width: 50vw;
        }
    }
    
    .sliderButton{
        font-size: 10vw;
        font-weight: 200;
    }
    .team__name {
        text-align: center;
        padding: 1.5rem;
       
        .name {
            padding-bottom: 5px;
            font-size: 4vw;
            font-weight: bolder;
            font-family: $fontM;
        }
    
        .profession {
            font-size: 3vw;
            font-family: $fontM;
        }
    }


    
}