
$fontD: 'Day One', sans-serif;
$fontM: 'Montserrat', sans-serif;


$base-blue:#003676;
$base-orange:#F39509;
$base-orange-icon:#F19610;
$base-gray:#9C9C9C;
$base-white:#FFFFFF;
$base-black:#000000;
$base-h2: 45px;
