@import "../../styles/vars.scss";

.header{
    width: 100vw;
    display: flex;
justify-content: space-between;
background-color: #F9F9F9;
align-items: center;
height: 8vh;}

.logo{
    margin: 10px 30px;
    max-width: 200px;}

.phone{
    background-color: $base-orange;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0 0 10px 10px;
    padding: 30px 20px;
    font-family: $fontM;
    color: #F9F9F9;
    height: 120%;
    position: relative;
    top: 10%
}
.input{
    height: 45px;
    border: 1px solid $base-gray;
    border-radius: 12px;
    padding: 5px;
}