@import "../../styles/vars.scss";

.header{
    display: flex;
justify-content: space-between;
background-color: #F9F9F9;
align-items: center;
height: 8vh;}

.logo{
    margin: 10px 30px;
    max-width: 300px;}

.phone{
    background-color: $base-orange;
    text-align: center;
    font-size: 2em;
    border-radius: 0 0 10px 10px;
    padding: 40px 20px;
    font-family: $fontM;
    color: #F9F9F9;
    height: 120%;
    position: relative;
    top: 10%;
    z-index: 5;
}
.form{
    max-width: fit-content;
    margin: 0 20px;
}
.input{
    width: fit-content;
    background: #F1F0F2;
    box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    height: 54px;
    border: 1px solid $base-gray;
    border-radius: 12px;
    padding: 5px;
}

.btn{font-family: $fontD;
    padding: 0 10px;
    border: 1px solid #F3950A;
    z-index: 5;
    color: #F9F9F9;
    font-family: $fontD;
    font-size: 1.2rem;
    border: none;
    position: relative;
    right: 20px;
    height: 55px;
    border-radius: 12px;
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.2) 0.67%, rgba(255, 255, 255, 0.2) 16.73%, rgba(255, 255, 255, 0) 99.33%), #F3950A;
}
.btn:hover{
    box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
}
.mainСontainer{
    display: flex;
}
.img, .content {
    width: 50vw;
}
.img{
    height: 100%;
}
.content{
    color: #F9F9F9;
    background: linear-gradient(322.66deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 37.38%), #02336F;
    padding: 50px 20px;
}
h1{
    font-family: $fontD;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 49.1489px;
    line-height: 63px;
    padding: 20px;
}
.subtitle, .txt{
    padding: 0 20px;
    font-family: $fontM;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-size: 20pt;}
    .txt{
        padding: 0;
        font-size: 18pt;
    }
.item{
    display: flex;
    align-items: center;
    margin: 20px;
}