@charset "UTF-8";
@font-face {
  font-family: "Days";
  src: url("../fonts/days.eot");
  src: url("../fonts/days.eot?#iefix") format("embedded-opentype"), url("../fonts/days.otf") format("opentype"), url("../fonts/days.ttf") format("truetype"), url("../fonts/days.woff") format("woff"), url("../fonts/days.woff2") format("woff2");
}

@font-face {
  font-family: "Montseratt", sans-serif;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-Thin.ttf") format("truetype"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype"), url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

.logo {
  margin: 10px 30px;
  max-width: 300px;
}

.phone {
  background-color: #F39509;
  text-align: center;
  font-size: 2vw;
  border-radius: 0 0 10px 10px;
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
  color: #F9F9F9;
  height: 140%;
  position: relative;
  top: 20%;
  z-index: 5;
}

.form {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 20px;
}

.input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #F1F0F2;
  -webkit-box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  height: 54px;
  border: 1px solid #9C9C9C;
  border-radius: 12px;
  padding: 5px;
}

.btn {
  font-family: "Days";
  padding: 0 10px;
  border: 1px solid #F3950A;
  z-index: 5;
  color: #F9F9F9;
  font-family: "Days";
  font-size: 1.2rem;
  border: none;
  position: relative;
  right: 20px;
  top: 1px;
  height: 55px;
  border-radius: 12px;
  background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.2) 0.67%, rgba(255, 255, 255, 0.2) 16.73%, rgba(255, 255, 255, 0) 99.33%), #F3950A;
}

.btn:hover {
  -webkit-box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
          box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
}

.mainСontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgCont, .content {
  width: 50vw;
}

.imgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: url("../../assets/images/Rectangle31.png") no-repeat;
  background-size: 100%;
}

.buttonCont {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  color: #F9F9F9;
  background: linear-gradient(322.66deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 37.38%), #02336F;
  padding: 2vw 2vw;
}

h1 {
  font-family: "Days";
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 60px;
  padding: 10px 20px;
}

.subtitle, .txt {
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 1.8vw;
}

.txt {
  padding: 0;
  font-size: 1.5vw;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5vw 20px;
}

.popupContainer {
  height: 500px;
  width: 50vw;
  background-color: #F1F0F2;
}

@media (min-width: 781px) and (max-width: 1420px) {
  .imgCont {
    background-size: cover;
  }
  .content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=Header.module.css.map */