@import "../../styles/vars.scss";

.header{
    display: flex;
justify-content: space-between;
background-color: #F9F9F9;
align-items: center;
height: 8vh;}

.logo{
    margin: 10px 30px;
    max-width: 300px;}

.phone{
    background-color: $base-orange;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0 0 10px 10px;
    padding: 30px 20px;
    font-family: $fontM;
    color: #F9F9F9;
    height: 120%;
    position: relative;
    top: 10%;
    z-index: 5;
}
.form{
    max-width: fit-content;
    margin: 0 20px;
}
.input{
    width: fit-content;
    font-size: 1.2rem;
    height: 54px;
    border: 1px solid $base-gray;
    border-radius: 12px;
    padding: 5px;
}
.btn{font-family: $fontD;
    z-index: 5;
    color: #F9F9F9;
    font-family: $fontD;
    font-size: 1.2rem;
    border: none;
    position: relative;
    right: 20px;
    height: 54px;
    border-radius: 12px;
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.2) 0.67%, rgba(255, 255, 255, 0.2) 16.73%, rgba(255, 255, 255, 0) 99.33%), #F3950A;
}
.btn:hover{
    box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
}