@import "../../styles/vars.scss";


.wrapper {
    margin: 2rem 0;
    background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
}

.container__main {
    display: flex;
    justify-content: space-between;

    .main__left {
        max-width: 45%;

        .main__text {
            background-color: $base-white;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
            border-bottom-right-radius: 111px;
            border-top-right-radius: 111px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            p {
                display: flex;
                align-items: center;
                margin: 2vh 4vw;
                font-family: $fontM;
                font-weight: 500;
                font-weight: bolder;
                font-size: 1.5rem;
            }

            .main__img {
                margin: 10px;
            }


        }
    }


    .main__right {
        background: url('../../assets/images/gift.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 55vw;
        display: flex;
        background-attachment: fixed, inherit;

        .form__box {
            width: 60%;
            height: 80%;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-top: 10vh;
            padding-right: 6vw;

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .input {
                    margin-bottom: 1vh;
                    height: 3vh;
                    min-height: 45px;
                    width: 15vw;
                    min-width: 210px;
                    max-width: 250px;
                    border-radius: 10px;
                    border: 1px solid $base-frame;
                    padding: 0 1vw;
                    font-family: $fontM;
                }
            }
        }
    }
}


.container__aboutus {
    font-size: 12pt;
    font-weight: 600;
    min-height: 100%;
    padding-bottom: 50px;

    .container__main2 {
        position: relative;
        height: 640px;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        font-family: $fontM;
        text-align: center;
        font-size: 1em;

        .container__pict {
            display: flex;
            justify-content: center;
            width: fit-content;
            justify-self: center;

            .round {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 600px;
                height: 600px;
                border: 2px solid #D73123;
                border-radius: 50%;
                background: rgba(252, 252, 252, 0);

                .round2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 500px;
                    height: 500px;
                    border: 2px solid #D73123;
                    border-radius: 50%;
                    background: rgba(252, 252, 252, 0);

                    .round3 {
                        display: flex;
                        justify-content: center;
                        width: 400px;
                        height: 400px;
                        border: 2px solid #D73123;
                        border-radius: 50%;
                        background: rgba(252, 252, 252, 0);

                        .bigpic {
                            width: 140%;
                        }
                    }
                }
            }
        }
    }
}

.container__circlepic1,
.container__circlepic2,
.container__circlepic3 {
    position: absolute;
    width: 26vw;
    display: flex;
    justify-content: space-between;

    p {

        width: 22vw;
    }
}



.container__circlepic4,
.container__circlepic5,
.container__circlepic6 {
    position: absolute;
    max-width: 25vw;
    width: 25vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    p {
        width: 22vw;
    }
}


.container__circlepic1 {
    position: absolute;
    top: 14%;
    right: calc(50vw + 186px);
}

.container__circlepic2 {
    position: absolute;
    top: 38%;
    right: calc(50vw + 270px);

}

.container__circlepic3 {
    position: absolute;
    top: 80%;
    right: calc(50vw + 196px);
}

.container__circlepic4 {
    position: absolute;
    top: 14%;
    left: calc(50vw + 186px);
}

.container__circlepic5 {
    position: absolute;
    top: 60%;
    left: calc(50vw + 270px);
}

.container__circlepic6 {
    position: absolute;
    top: 80%;
    left: calc(50vw + 200px);
}

.container__circlepic7 {
    position: absolute;
    max-width: 25vw;
    max-height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    top: calc(100% - 30px);
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
    width: 26px;
    height: 26px;
}


@media (max-width: 1281px) {
    .container__main {
        .main__left {
            max-width: 45%;

            .main__text {
                p {
                    font-size: 1.2rem;
                }

                .main__img {
                    margin: 10px;
                }
            }
        }

        .main__right {
            background-position: 35%;
            width: 55vw;

            .form__box {
                padding-right: 5vw;
            }
        }
    }


    .container__aboutus {
        font-size: 10pt;

        .container__main2 {
            margin: 0;

            .container__pict {
                .round {
                    width: 400px;
                    height: 400px;
                    border: 2px solid #D73123;
                    border-radius: 50%;
                    background: rgba(252, 252, 252, 0);

                    .round2 {
                        width: 350px;
                        height: 350px;

                        .round3 {
                            width: 300px;
                            height: 300px;

                            .bigpic {
                                width: 140%;
                            }
                        }
                    }
                }
            }
        }
    }

    .container__circlepic1 {
        top: 20%;
        right: calc(50vw + 74px);
        width: 30vw;
    }

    .container__circlepic2 {
        top: 38%;
        right: calc(50vw + 165px);

    }

    .container__circlepic3 {
        top: 70%;
        right: calc(50vw + 116px);
    }

    .container__circlepic4 {
        top: 24%;
        left: calc(50vw + 106px);
    }

    .container__circlepic5 {
        top: 60%;
        left: calc(50vw + 164px);
    }

    .container__circlepic6 {
        top: 70%;
        left: calc(50vw + 120px);
    }

    .container__circlepic7 {
        top: calc(100% - 1vw - 120px)
    }
}



@media (max-width: 1175px) {


    .container__main {
        .main__left {
            max-width: 45%;

            .main__text {
                p {
                    font-size: 1.2rem;
                }

                .main__img {
                    margin: 10px;
                }

            }
        }

        .main__right {
            width: 55vw;

            .form__box {
                padding-right: 5vw;
            }
        }
    }



    .container__aboutus {
        font-size: 10pt;

        .container__main2 {
            margin: 0;

            .container__pict {
                .round {
                    width: 400px;
                    height: 400px;
                    border: 2px solid #D73123;
                    border-radius: 50%;
                    background: rgba(252, 252, 252, 0);

                    .round2 {
                        width: 350px;
                        height: 350px;

                        .round3 {
                            width: 300px;
                            height: 300px;

                            .bigpic {
                                width: 140%;
                            }
                        }
                    }
                }
            }
        }
    }

    // .container__circlepic1 {
    //     top: 20%;
    //     right: calc(50vw + 74px);
    //     width: 30vw;
    // }

    // .container__circlepic2 {
    //     top: 38%;
    //     right: calc(50vw + 165px);

    // }

    // .container__circlepic3 {
    //     top: 70%;
    //     right: calc(50vw + 116px);
    // }

    // .container__circlepic4 {
    //     top: 24%;
    //     left: calc(50vw + 106px);
    // }

    // .container__circlepic5 {
    //     top: 60%;
    //     left: calc(50vw + 164px);
    // }

    // .container__circlepic6 {
    //     top: 70%;
    //     left: calc(50vw + 120px);
    // }

    // .container__circlepic7 {
    //     top: calc(100% - 1vw - 120px)
    // }
}

@media (max-width: 1100px) {
    .container__main {
        flex-direction: column;

        .main__left {
            max-width: 80vw;
        }

        .main__right {

            max-width: 100%;
            width: 90vw;
            height: 95vh;

            .form__box {
                background-size: 100%;
                position: relative;
                right: 7vw;

                .form button {
                    width: 100%;
                    min-width: 210px;
                    max-width: 550px;
                }
            }
        }
    }
}

@media (max-width: 910px) {
    .container__main {

        .main__left {}

        .main__right {
            background-size: 100%;
            height: 90vh;

            .form__box {
                position: relative;
                right: 5vw;

            }
        }
    }
}


@media (max-width: 780px) {
    .container__main {

        .main__left {
            max-width: 100vw;

            .main__text {
                margin-bottom: 10px;

                p {
                    font-size: 3.5vw;
                }

                .main__img {
                    margin: 5px;

                    .main__img img {
                        width: 10px;
                    }
                }
            }
        }

        .main__right {
            background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form__box {
                width: 80%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 20px 0;

                    .input {
                        width: 100%;
                        min-width: 210px;
                        max-width: 550px;
                    }
                }
            }
        }
    }

    .container__aboutus {
        display: flex;
        flex-direction: column;
        margin: 2vw;

        .container__main2 {
            position: static;
            max-width: 100vw;
            height: max-content;

            .container__pict {
                margin: 3vw 0;
                display: flex;
                justify-content: center;
                width: fit-content;
                justify-self: center;

                .round {
                    width: 60vw;
                    height: 60vw;

                    .round2 {
                        width: 50vw;
                        height: 50vw;

                        .round3 {
                            width: 40vw;
                            height: 40vw;

                            .bigpic {
                                width: 140%;
                            }
                        }
                    }
                }
            }
        }
    }



    .container__circlepic1,
    .container__circlepic2,
    .container__circlepic3,
    .container__circlepic4,
    .container__circlepic5,
    .container__circlepic6,
    .container__circlepic7 {
        width: 80vw;
        max-height: 20vh;
        max-width: 80vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        position: static;

        p {
            margin: 2vw 0;
            font-size: 2.6vw;
            width: calc(100% - 40px);
            text-align: left;
        }
    }


}

@media (hover: hover) {
    .container__main {
        .main__left {
            .main__text:hover {
                background-color: $base-blue;
                color: white;
            }
        }
    }
}






// @media (max-width: 500px) {

//     .container__aboutus {
//         min-height: auto;
//     }
// }

// @media (max-width: 1200px) and (orientation: portrait) {
//     .container__main {
//         display: flex;
//         flex-direction: column;

//         .main__left {
//             max-width: 98vw;

//             .main__text {
//                 margin-bottom: 10px;

//                 p {
//                     font-size: 3.5vw;
//                 }

//                 .main__img {
//                     margin: 5px;

//                     .main__img img {
//                         width: 10px;
//                     }
//                 }
//             }
//         }

//         .main__right {
//             background: $base-white;
//             width: 100%;
//             height: fit-content;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             min-height: 250px;


//             .form__box {
//                 width: 80%;
//                 height: fit-content;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 padding: 10px;

//                 .form {
//                     width: 100%;
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;

//                     .input {
//                         width: 100%;
//                         min-width: 210px;
//                         max-width: 550px;
//                         font-size: larger;
//                     }
//                 }
//             }
//         }
//     }

//     .container__aboutus {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         min-height: 650px;

//         .container__main2 {
//             position: static;
//             max-width: 100vw;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             height: max-content;

//             .container__pict {
//                 margin: 3vw 0;
//                 display: flex;
//                 justify-content: center;
//                 width: fit-content;
//                 justify-self: center;

//                 .round {
//                     width: 60vw;
//                     height: 60vw;

//                     .round2 {
//                         width: 50vw;
//                         height: 50vw;

//                         .round3 {
//                             width: 40vw;
//                             height: 40vw;

//                             .bigpic {
//                                 width: 140%;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }



//     .container__circlepic1,
//     .container__circlepic2,
//     .container__circlepic3,
//     .container__circlepic4,
//     .container__circlepic5,
//     .container__circlepic6,
//     .container__circlepic7 {
//         width: 80vw;
//         max-height: 20vh;
//         max-width: 80vw;
//         display: flex;
//         flex-direction: row-reverse;
//         align-items: center;
//         justify-content: space-between;
//         position: static;

//         p {
//             margin: 2vw 0;
//             font-size: 2.6vw;
//             width: calc(100% - 40px);
//             text-align: left;
//         }
//     }


// }