@import "../../styles/vars.scss";

.btn {
    background-color: $base-orange ;
    color: $base-white;
    font-family: $fontD;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 39.37%), #F39509;
    border-radius: 0px 9px 9px 9px;
    border: 0;
}

.btn:hover {
    box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
}