@import url("./vars.scss");
.marquiz__container > a {
  font-family: "Days";
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 39.37%
    ),
    #f39509;
  border-radius: 0px 9px 9px 9px;
  border: 0;
}
