@import "../../styles/vars.scss";

.dropmini{
    display: none;
}

.box {
    background: linear-gradient(310.74deg, rgba(255, 255, 255, 0.2) 3.93%, rgba(255, 255, 255, 0) 29.17%), #003676;
    font-family: $fontM;
    color: $base-white;
    padding: 30px 0;
}

.title {
    font-family: $fontD;
    box-sizing: content-box;
    width: 60%;
    height: 100%;
    font-size: $base-h2;
    border-bottom: 5px solid;
    margin: 2rem 0;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtContainer {
    display: grid;
    max-width: 96%;
    grid-template-columns: 1fr 1fr 1fr;
}

.txtContainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
}

.txtC1,
.txtC2,
.txtC3,
.txtC4,
.txtC5 {
    display: flex;
}

.txtC1,
.txtC4 {
    justify-content: end;
}

.txtC2 {
    justify-content: center;
}

.txtC3,
.txtC5 {
    justify-content: start;

}

.txtC1 {
    margin-left: 4vw;
}

.txtC3 {
    margin-right: 7vw;

}

.txtC4 {
    position: relative;
    right: 1rem;
}

.txt {
    padding: 5px;
    width: 60%;
    text-align: center;
    font-size: 1.2vw;
}

.dropContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    align-items: center;
}

.borderContainer {
    border-bottom: 3px dashed #F19610;

}

.dropContainer2 {
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .borderContainer {
        position: relative;
        bottom: 4vh;

        img {
            animation: car 3s infinite linear;
            white-space: nowrap;
        }
    }
}

@keyframes car {
    0% {
        transform: translate(0, 0);
    }

    85% {
        opacity: 0.8;
    }

    100% {
        transform: translate(300px, 0);
        opacity: 0;
    }
}


.formNext {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputNext {
    margin: 10px;
    height: 4vw;
    width: 16vw;
    padding: 10px;
    box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
    font-size: 1vw;
    border: 1px solid $base-gray;
    border-radius: 12px;
}

.dateContainer {
    border-radius: 0% 45px 45px 45px;
    border: 3px solid $base-white;
    display: flex;
    margin: 20px;
    padding: 15px;
    font-family: $fontM;
    justify-content: space-between;
    max-width: 50vw;
}

.date {
    background: #F19610;
    border-radius: 45px;
    padding: 1vw;
    line-height: 10vw;
    font-weight: 600;
    font-size: 6vw;
}

.txtDate {
    font-size: 3vw;
    align-self: center;
}



@media (max-width: 1350px) {
    .txtC1 {
        margin-left: -2vw;
    }

    .txtC3 {
        margin-right: -2vw;

    }
}


@media (max-width: 1250px) {
    .txtC1 {
        margin-right: 5vw;
    }

    .txtC3 {
        margin-left: 5vw;
    }

    .txtC4 {
        margin-right: 6vw;
    }

    .txtC5 {
        margin-left: 6vw;
    }

}

@media (max-width: 1050px) {
    .container{
        max-width: 96%;
    }
    .txtC1 {
        margin-left: -15vw;
        text-align: start;
    }

    .txtC3 {
        margin-left: 15vw;

    }

    .txtC4 {
        margin-right: 15vw;
    }

    .txtC5 {
        margin-left: 15vw;
    }

    .inputNext {
        height: 5vw;
        width: 100%;
        font-size: 1rem;
    }
}


@media (max-width: 780px) {
.txtContainer, .dropContainer, .txtContainer2, .dropContainer2{
    display: none;
}
    
.dropmini{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .btnmini{
        width: 60%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
        min-height: 220px;
        justify-content: space-around;
        text-align: center;

    }
}

}