@import "../../styles/vars.scss";

.partnerandteam {
    width: 100vw;
}

.title1 {
    box-sizing: content-box;
    width: 60%;
    height: 100%;
    font-size: $base-h2;
    border-bottom: 5px solid $base-blue;

    margin: 2rem 0;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.title2 {
    box-sizing: content-box;
    width: 45%;
    height: 100%;
    font-size: $base-h2;
    border-bottom: 5px solid $base-blue;
    margin: 2rem 0;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.photos {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.our__team {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.team {
    margin-right: 3em;
}

.team__name {
    text-align: center;
    padding: 1.5rem;

    .name {
        padding-bottom: 5px;
        font-size: 26px;
        font-weight: bolder;
        font-family: $fontM;
    }

    .profession {
        font-size: 22px;
        font-family: $fontM;
    }
}