@import "../../styles/vars.scss";

.modal {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
    height: 100vh;
}
.error{
    color: red;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}

.body {
    overflow: hidden;
}

.modal__content {
    transform: scale(0.5);
    transition: transform 0.4s;
}

.modal__content.active {
    transform: scale(1);
}

.modal__triangles {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal.active>.modal__content>.modal__triangles {
    opacity: 1
}

.modal__triangles::before {
    content: "";
    height: 300px;
    width: 300px;
    background: linear-gradient(180deg, #003676 0%, #1A59A3 100%);
    top: 69.5%;
    border: inherit;
    position: absolute;
    left: 35%;
    clip-path: polygon(0% 0%, 100% 100%, 40% 60%);
    transform: rotate(135deg);
    border-radius: 0 0 0 70%;
}

.modal__triangles::after {
    content: "";
    height: 300px;
    width: 300px;
    background: linear-gradient(180deg, #003676 0%, #1A59A3 100%);
    ;
    border: inherit;
    position: absolute;
    top: -29.5%;
    left: 35%;
    clip-path: polygon(0% 0%, 100% 100%, 60% 40%);
    transform: rotate(135deg);
    border-radius: 0 0 0 70%;
}

.popupContainer {
    height: 500px;
    width: 1000px;
    background-color: #F1F0F2;
    border: 6px solid #003676;
    border-radius: 35px;
    display: flex;

    .imgContainer {
        display: flex;
        align-items: flex-end;
        width: fit-content;
    }

    .popupTxt {
        font-family: $fontM;
        position: absolute;
        left: -50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        font-weight: bolder;
        font-size: 24pt;
        line-height: 140%;

        .popupTitle {
            width: 60%;
            margin: 10px;
            justify-self: flex-end;
        }
    }
}

.popupContainerNext {
    height: 500px;
    min-height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F0F2;
    border: 4.72906px solid #003676;
    border-radius: 35px;

    .popupTitleNext {
        width: 100%;
        font-family: $fontM;
        font-weight: 600;
        font-size: 30pt;
        line-height: 142.5%;
        text-align: center; }

        .formNext {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 80%;
        }
   
}

.inputNext {
    align-self: center;
    margin: 10px;
    min-height: 70px;
    max-height: 85px;
    width: 100%;
    height: 5vw;
    box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    border: 1px solid $base-gray;
    border-radius: 12px;
    padding: 5px;
}

.popupTitle {
    width: 60%;
    margin: 10px;
    justify-self: flex-end;
    color: $base-black;
}







@media (max-width: 780px) {
    .modal__content{
        .modal__triangles::before {
            content: "";
            height: 200px;
            width: 200px;
            top: 79.5%;
            left: 30%;
        }
        
        .modal__triangles::after {
            content: "";
            height: 200px;
            width: 200px;
            top: -19.5%;
            left: 30%;
        }
        .popupContainer {
       min-height: 50vh;
       width: 500px;
       height: 500px;
       flex-direction: column-reverse;
       justify-content: space-between;
       .imgContainer{
        max-height: 50%;
        width: 100%;
        justify-content: end;
        align-items: end;
        img{
            max-width: 80%;
        }
       }
       .popupTxt {
        font-size: 18pt;
        position: static;
        height: 50%;
        width: 100%;
        justify-content: center;
        .popupTitle{
            width: 90%;
            }
        }
    }
    .popupContainerNext {
        height: 500px;
        min-height: 500px;
        width: 500px;
        
            .formNext {
                width: 90%;
            }
    }
    
    .inputNext {
        height: 70px;
    }  
}
}