@import "../../styles/vars.scss";


.wrapper {
    margin: 2rem 0;
    background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
    ;
}

.container__main {
    display: flex;
    justify-content: space-between;

    .main__left {
        max-width: 45%;

        .main__text {
            background-color: $base-white;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.09);
            border-bottom-right-radius: 111px;
            border-top-right-radius: 111px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            p {
                display: flex;
                align-items: center;
                margin: 2vh 2vw;
                font-family: $fontM;
                font-size: 26px;
            }

            .main__img {
                margin: 10px;
            }
        }
    }

    .main__right {
        background: url('../../assets/images/gift.png');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        width: 55%;
        display: flex;
        justify-content: end;
        background-attachment: fixed, inherit;

        .form__box {
            width: 60%;
            height: 80%;
            display: flex;
            align-items: center;
            padding-top: 10vh;
            position: relative;
            right: 9vw;

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .input {
                    margin-bottom: 8px;
                    height: 50px;
                    border-radius: 8px;
                    border: 1px solid $base-frame;
                    padding: 0 10px;
                    font-family: $fontM;
                }
            }
        }
    }
}


.container__aboutus {
    margin-bottom: 5rem;
    font-size: 1vw;

    .container__main2 {
        display: flex;
        margin: 3rem auto;
        font-family: $fontM;
        text-align: center;

        .container__left {
            .one {
                position: relative;
                margin-left: 10vw;
            }

            .two {
                position: relative;
                top: 30%;
                margin-left: 3vw;
            }

            .three {
                position: relative;
                top: 60%;
                margin-left: 10vw;
            }
        }

        .container__pict {
            .round {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35em;
                height: 35em;
                border: 2px solid #D73123;
                border-radius: 50%;
                background: rgba(252, 252, 252, 0);

                .round2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 29em;
                    height: 29em;
                    border: 2px solid #D73123;
                    border-radius: 50%;
                    background: rgba(252, 252, 252, 0);

                    .round3 {
                        width: 23em;
                        height: 23em;
                        border: 2px solid #D73123;
                        border-radius: 50%;
                        background: rgba(252, 252, 252, 0);


                        .bigpic {
                            width: 160%;
                            position: relative;
                            right: 27%;
                            top: 20px;
                        }


                    }
                }

            }

        }

        .container__right {
            .four {
                position: relative;
                top: 5%;
                margin-right: 18vw;
            }

            .five {
                position: relative;
                top: 47%;
                margin-left: 3vw;
            }

            .six {
                position: relative;
                top: 65%;
                margin-right: 15vw;
            }


        }
    }


}

.seven {
    text-align: center;
    font-family: $fontM;
    font-size: 1vw;
}

.container__circlepic1 {
    .circle1 {
        position: relative;
        top: 4vh;
        left: 37.8vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic2 {
    .circle2 {
        position: relative;
        top: 25vh;
        left: 30.2vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic3 {
    .circle3 {
        position: relative;
        top: 47vh;
        left: 33.5vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic4 {
    .circle4 {
        position: relative;
        bottom: 10vh;
        left: 57vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic5 {
    .circle5 {
        position: relative;
        top: 38vh;
        left: 62vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic6 {
    .circle6 {
        position: relative;
        top: 48vh;
        left: 47vw;
        width: 2em;
        height: 2em;
    }
}

.container__circlepic7 {
    .circle7 {
        position: relative;
        left: 65vw;
        top: 12vh;
        width: 2em;
        height: 2em;
    }

}
