@import "../../styles/vars.scss";


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #F9F9F9;
    // max-width: 1280px;
    // margin: 0 auto;
}

.logo {
    margin: 10px 30px;
    width: 20%;
}

.phone {
    background-color: $base-orange;
    text-align: center;
    font-size: 2vw;
    border-radius: 0 0 10px 10px;
    padding: 40px 20px;
    font-family: $fontM;
    color: #F9F9F9;
    height: 140%;
    position: relative;
    top: 20%;
    z-index: 5;
    font-weight: 600;
}

.form {
    max-width: fit-content;
    margin: 0 20px;
}

.input {
    width: fit-content;
    background: #F1F0F2;
    box-shadow: inset 0px -1.125px 2.25px rgba(0, 0, 0, 0.25), inset 0px 2.25px 4.5px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    height: 54px;
    border-radius: 12px;
    padding: 5px;
    font-weight: 500;
    font-family: $fontM;
}
.error{
    width: 100%;
    font-size: 15px;
    padding: 0 0 2px;
    color: red;
}

.btn {
    font-family: $fontD;
    padding: 0 10px;
    border: 1px solid #F3950A;
    z-index: 5;
    color: #F9F9F9;
    font-family: $fontD;
    font-size: 1.2rem;
    border: none;
    position: relative;
    right: 20px;
    top: 1px;
    height: 55px;
    border-radius: 12px;
    background: linear-gradient(180.77deg, rgba(255, 255, 255, 0.2) 0.67%, rgba(255, 255, 255, 0.2) 16.73%, rgba(255, 255, 255, 0) 99.33%), #F3950A;
}

.btn:hover {
    box-shadow: -11px -8px 8px 27px rgba(114, 79, 46, 0.2) inset;
}

.main小ontainer {
    display: flex;
    max-width: 100%;

}

.imgCont,
.content {
    width: 50%;
}

.imgCont {
    display: flex;
    justify-content: center;
    align-items: end;
    background: url('../../assets/images/Rectangle31.png') no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    max-width: 100%;
}

.buttonCont {
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;

    button {
        font-size: 1.5vw;
    }
}

.content {
    color: #F9F9F9;
    background: linear-gradient(322.66deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 37.38%), #02336F;
    padding: 2vw 2vw;
    box-sizing: border-box;
    max-width: 100vw;
}

h1 {
    font-family: $fontD;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    padding: 10px 20px;
}

.subtitle,
.txt {
    padding: 0 20px;
    font-family: $fontM;
    letter-spacing: 0.05em;
    font-size: 1.7vw;
    font-weight: 400;
}

.subtitle {
    margin: 1.5rem 0;
}

.txt {
    padding: 0;
    font-size: 1.3vw;
}

.item {
    display: flex;
    align-items: center;
    margin: 0.9vw 20px;
}



@media (max-width: 1397px) {
    .imgCont {
        background-size: cover;
    }
    .form {
        display: none;
    }

    .phone {
        position: static;
        padding: 10px;
        font-size: 4vw;
        height: 6vw;
        border-radius: 10px;
        margin: 10px;
    }

    .logo {
        max-width: 40vw;
    }

    .header {
        height: 10vw;
        align-items: center;
    }

}
@media (min-width: 1281px) {
    .imgCont {
        background-size: cover;
    }
    .main小ontainer{
        max-width: 100%;
    }
}

@media (max-width: 780px) {

    .main小ontainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;

        h1 {
            text-align: center;
            font-size: 5vw;
        }

        .subtitle {
            text-align: center;
            font-size: 4vw;
        }

        .item {
            margin-top: 20px;

            .txt {
                font-size: 3vw;

            }
        }
    }

    .imgCont {
        width: 100vw;
        min-height: 60vh;
        padding-bottom: 5vh;

        .buttonCont {
            width: 100%;
            padding: 10px;
            height: 50%;
        }
    }
}

@media (max-width: 676px) {
    .imgCont {
        min-height: 50vh;
        padding-bottom: 10vh;
    }
}

@media (max-width: 600px) {

    .phone {
        position: static;
        padding: 5px;
        font-size: 3vw;
    }


    .txt {
        font-size: 4vw;
    }

    .content {
        width: 100%;
    }

    .imgCont {
        width: 100%;
        min-height: 40vh;
        padding-bottom: 10vh;

    }
}

@media (max-width: 370px) {

    .content {
        padding: 20px 0;
        max-width: 100%;

    }

    .imgCont {
        max-width: 100%;
        min-height: 30vh;
        padding-bottom: 5vh;
    }
}
@media (min-width: 1720px){

    .header {
        margin: 0 0 20px;
        padding: 20px 0 0;
    }
    
    .logo {
        width: 18%;
    }
    
    .phone {
        height: 130px;
        font-size: 1.5vw;
    }

    
    
    .main小ontainer {
        max-width: 100%;
    }
 

    .content {
        padding: 2%;
        max-width: 100%;
    }
    
    h1 {
        letter-spacing: 0.04em;
        font-size: 2.5vw;
    }
    
    .subtitle,
    .txt {
        letter-spacing: 0.04em;
        font-size: 1.5vw;
    }
    
    .subtitle {
        margin: 1.2rem 0;
    }
    
    .txt {
        padding: 0;
        font-size: 1vw;
    }
    
    .item {
        display: flex;
        align-items: center;
        margin: 0.7vw 20px;
    }
    

}