@import "../../styles/vars.scss";


.wraper {
    background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
    font-family: $fontM;
}

.error {
    border-radius: 45px;
    padding: 10px;
    color: red;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 95%;
    margin: 2rem auto;
}

.container__left {
    display: flex;
    flex-direction: column;

    .container__left_top {
        display: flex;
        justify-content: space-between;

        .choice {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: white;
            border-radius: 6px;
            margin-left: 1rem;
            box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.11);

            .img {
                margin: 0.6rem;

                img {
                    max-width: 100%;
                }
            }

            .checked {
                background-color: #a3a3a3;
                border: 3px solid #FFFFFF;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                position: relative;
                bottom: 4vh;
                left: calc(50% - 17.5px);


                img {
                    margin-top: 10px;
                    align-self: center;
                    align-content: center;
                }
            }

            input {
                display: none;
            }

            input:checked~.checked {
                background-color: #415C93;
            }

            p {
                position: relative;
                bottom: 1rem;


            }
        }
    }

    .container__left_bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        background-color: white;
        border-radius: 6px;
        margin-left: 1rem;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.11);
        display: flex;


        .container_controls {
            margin: 8vh 1vw;
            width: 30vw;

            input[type="radio"] {
                display: none;
            }

            .control_1 {
                display: flex;
                align-items: center;


                *,
                *:after,
                *:before {
                    box-sizing: border-box;
                }

                .isp1 {
                    &:checked {

                        &~.tab__isp1 {
                            color: #FFFFFF;
                        }

                        &~.glider__isp {
                            transform: translateX(0);

                        }
                    }
                }

                .isp2 {
                    &:checked {
                        &~.tab__isp2 {
                            color: #FFFFFF;
                        }

                        &~.glider__isp {
                            transform: translateX(100%);
                        }
                    }
                }

                p {
                    font-family: $fontM ;

                }

                .tabs__isp {
                    margin-left: 1rem;
                    display: flex;
                    background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
                    backdrop-filter: blur(30.5px);
                    border-radius: 90px;
                    height: 65px;
                    width: 100%;

                    * {
                        z-index: 2;
                    }

                    .tab__isp1,
                    .tab__isp2 {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        height: 100%;
                        width: 50%;
                        border-radius: 90px;
                        cursor: pointer;
                        transition: color 0.15s ease-in;
                        font-size: 0.9vw;


                    }

                    .glider__isp {
                        position: absolute;
                        display: flex;
                        height: 65px;
                        width: 50%;
                        background-color: $base-blue;
                        max-width: 50%;
                        z-index: 1;
                        border-radius: 74px;
                        transition: 0.25s ease-out;
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
                    }
                }

            }

            .control_2 {
                display: flex;
                align-items: center;
                margin-top: 3rem;

                *,
                *:after,
                *:before {
                    box-sizing: border-box;
                }

                .avtom1 {
                    &:checked {
                        &~.tab__avtom1 {
                            color: white;
                        }

                        &~.glider__avtom {
                            transform: translateX(0);
                        }
                    }
                }

                .avtom2 {
                    &:checked {
                        &~.tab__avtom2 {
                            color: white;
                        }

                        &~.glider__avtom {
                            transform: translateX(100%);

                        }
                    }
                }

                p {
                    font-family: $fontM ;
                }

                .tabs__avtom {
                    margin-left: 1rem;
                    display: flex;
                    background: linear-gradient(176.59deg, rgba(233, 251, 255, 0) 5.41%, rgba(248, 254, 255, 0) 5.42%, rgba(237, 237, 237, 0.45) 26.05%, rgba(247, 247, 247, 0.45) 79.2%, rgba(255, 255, 255, 0) 97.4%);
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
                    backdrop-filter: blur(30.5px);
                    border-radius: 90px;
                    height: 65px;
                    width: 100%;

                    * {
                        z-index: 2;
                    }

                    .tab__avtom1,
                    .tab__avtom2 {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        height: 65px;
                        padding: 0 5px;
                        width: 50%;
                        font-size: 0.9vw;
                        border-radius: 90px;
                        cursor: pointer;
                        transition: color 0.15s ease-in;
                    }

                    .glider__avtom {
                        position: absolute;
                        display: flex;
                        height: 65px;
                        margin: 0 auto;
                        width: 50%;
                        max-width: 50%;
                        background-color: $base-blue;
                        z-index: 1;
                        border-radius: 74px;
                        transition: 0.25s ease-out;
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);

                    }
                }
            }


            .control_3 {
                display: flex;
                align-items: center;
                margin-top: 3rem;

                .sizes {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    max-width: 12vw;


                    .sizes__title {
                        font-family: $fontM;
                        margin-bottom: 1vh;
                    }

                    .sizes__count {
                        display: flex;
                        border-radius: 26px;
                        border: 1px solid black;
                        margin-left: 2rem;
                        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);


                        .bt_left,
                        .bt_right {
                            display: flex;
                            align-items: center;
                            height: 51px;
                            width: 20px;
                            padding: 0;
                            border: 0;
                            margin: 0;
                            background: transparent;
                            cursor: pointer;
                            outline: 0;


                            img {
                                margin-left: 10px;
                            }
                        }

                        input {
                            border: none;
                            text-align: center;
                            width: 100%;
                            font-size: 20px;
                        }

                        .bt_right {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .control_4 {
                display: flex;
                align-items: center;
                margin-top: 3rem;
                max-width: 35vw;
                width: 100%;

                .colors {
                    margin-left: 1rem;
                    display: flex;
                    width: 40vw;

                    div {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;

                        label {
                            border: 2px solid rgb(49, 48, 48);
                            border-radius: 50%;
                            padding: 1px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            div {
                                width: 30px;
                                min-width: 30px;
                                max-width: 45px;
                                height: 30px;
                                max-height: 45px;
                                min-height: 30px;
                                border-radius: 50%;
                                align-self: center;
                                justify-self: center;
                            }
                        }

                        input:checked~label {
                            border: 2px solid #F39912;

                        }

                        .btn1 {
                            background-color: #FFFFFF;
                        }

                        .btn2 {
                            background-color: #BCBCBC;
                        }

                        .btn3 {
                            background-color: #E0CB9C;
                        }

                        .btn4 {
                            background-color: #0F372F;
                        }

                        .btn5 {
                            background-color: #415C93;
                        }

                        .btn6 {
                            background-color: #964438;
                        }

                        .btn7 {
                            background-color: #472327;
                        }

                        .btn8 {
                            background-color: #312320;
                        }
                    }
                }
            }
        }




        .container_texture {

            p {
                margin: 4vh 0;
            }

            .texture__cards {
                display: flex;
                flex-direction: column;

                .texture1 {
                    display: flex;
                    margin-bottom: 1rem;

                    .first,
                    .second {
                        padding-top: 6px;
                        margin-right: 1rem;
                        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
                        border-radius: 7px;
                        width: 10.5vw;
                        min-width: 120px;

                        input:checked~.checked_texture {
                            background-color: #415C93;
                        }

                        .img {
                            margin: 0.6rem;

                            img {
                                width: 9.3vw;
                                min-width: 100px;

                            }
                        }
                    }


                }

                .texture2 {
                    display: flex;
                    margin-bottom: 1rem;

                    .third {
                        padding-top: 6px;
                        margin-right: 1rem;
                        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
                        border-radius: 7px;
                        width: 10.5vw;
                        min-width: 120px;


                        input:checked~.checked_texture {
                            background-color: #415C93;
                        }

                        .img {
                            margin: 0.6rem;

                            img {
                                width: 9.3vw;
                                min-width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}



.container__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 90%;

    .input {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #F9F9F9;
        box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.08), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: none;
        margin: 1rem 1rem 1rem 0;
        padding-left: 10px;
        height: 65px;
        font-family: $fontM;
        font-size: 1.4rem;
        width: 100%;
    }
}

.tabs__p {
    font-size: 1vw;
}

input[name="texture"] {
    display: none;
}

.checked_texture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3a3a3;
    border: 3px solid #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    bottom: 4vh;
    left: calc(50% - 17.5px);

    img {
        align-content: center;

    }
}








@media (max-width: 1200px) {

    .container__left_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .container__form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 1.5rem;
        width: 90%;

        .input {
            margin-bottom: 10px;
            width: 100%;
        }
    }

}



@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: center;

        .container__left {
            max-width: 100vw;

            .container__left_top {
                flex-wrap: wrap;
                justify-content: space-around;

                .choice {
                    margin-top: 2vw;
                }
            }
        }

        .container__left_bottom {
            flex-direction: column;

            .tabs__p,
            .control_3>p,
            .control_4>p,
            .container_texture>p {
                display: none;
            }


            .container_controls {
                width: 80%;

                .control_1 {
                    .tabs__isp {
                        width: 90%;

                        .tab__isp1,
                        .tab__isp2 {
                            width: 100%;
                            flex-basis: 50%;
                            font-size: 2.5vw;
                        }
                    }

                    .glider__isp {
                        min-width: 48%;
                        flex-basis: 100%;
                        max-width: 49%;
                    }
                }

                .control_2 {
                    .tabs__avtom {
                        width: 90%;

                        .tab__avtom1,
                        .tab__avtom2 {
                            width: 100%;
                            flex-basis: 50%;
                            font-size: 2.5vw;
                        }
                    }

                    .glider__avtom {
                        min-width: 48%;
                        max-width: 49%;
                    }
                }

                .control_3 {
                    justify-content: space-around;

                    .sizes {
                        width: 90%;
                        max-width: 90%;

                        .sizes__count {
                            margin: 10px;
                            width: 90%;

                            .bt_left,
                            .bt_right {
                                display: flex;
                                align-content: center;

                                img {
                                    margin: 0 10px;
                                }
                            }
                        }
                    }
                }

                .control_4 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    max-width: 100%;

                    .colors {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            label {
                                padding: 1px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                div {
                                    align-self: center;
                                    justify-self: center;
                                    width: 4vw;
                                    height: 4vw;
                                    min-height: 20px;
                                    min-width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}



@media (max-width: 600px) {
    .container__left_bottom {
        .container_texture {
            .texture__cards {
                width: 100%;
                display: flex;

                .texture1 {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .first,
                    .second {


                        .img {
                            margin: 0.2rem;

                            img {
                                width: 9.3vw;
                                min-width: 90px;
                            }
                        }
                    }
                }

                .texture2 {
                    .third {
                        width: 10vw;
                        min-width: 100px;

                        .img {
                            margin: 0.6rem;

                            img {
                                width: 9.3vw;
                                min-width: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        .container__left {

            .container__left_bottom {
                .container_controls {
                    margin: 4vh 0;
                    width: 90%;

                    .control_1 {


                        .isp1 {
                            &:checked {

                                &~.tab__isp1 {
                                    color: white;
                                    background-color: $base-blue ;
                                }

                                &~.glider__isp {
                                    transform: translateX(0);

                                }
                            }
                        }

                        .isp2 {
                            &:checked {
                                &~.tab__isp2 {
                                    color: white;
                                    background-color: $base-blue ;
                                }

                                &~.glider__isp {
                                    transform: translateX(100%);
                                }
                            }
                        }

                        .tabs__isp {
                            margin-left: 0.5rem;
                            width: 100%;

                            .tab__isp1,
                            .tab__isp2 {
                                font-size: 9pt;

                            }

                            .glider__isp {}
                        }

                    }

                    .control_2 {
                        margin-top: 2rem;

                        .avtom1 {
                            &:checked {
                                &~.tab__avtom1 {
                                    color: white;
                                }

                                &~.glider__avtom {
                                    transform: translateX(0);
                                }
                            }
                        }

                        .avtom2 {
                            &:checked {
                                &~.tab__avtom2 {
                                    color: white;
                                }

                                &~.glider__avtom {
                                    transform: translateX(100%);

                                }
                            }
                        }


                        .tabs__avtom {
                            margin-left: 1rem;
                            height: 65px;
                            width: 100%;

                            .tab__avtom1,
                            .tab__avtom2 {
                                font-size: 9pt;
                            }

                            .glider__avtom {
                                width: 50%;
                                max-width: 50%;
                                background-color: $base-blue;

                            }
                        }
                    }


                }

                .container_texture {
                    .texture__cards {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .texture1 {

                            .first,
                            .second {
                                width: 10vw;
                                min-width: 100px;

                                .img {
                                    margin: 0.2rem;

                                    img {
                                        width: 9.3vw;
                                        min-width: 90px;
                                    }
                                }
                            }
                        }

                        .texture2 {
                            .third {
                                width: 10vw;
                                min-width: 100px;

                                .img {
                                    margin: 0.6rem;

                                    img {
                                        width: 9.3vw;
                                        min-width: 90px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) and (orientation: portrait) and (min-width: 600px) {

    .container {
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;

        .container__left {
            width: 98vw;

            .container__left_top {
                max-width: 100%;
            }

            .container__left_bottom {
                max-width: 100%;

                .container_controls {
                    width: 70%;

                    .control_1,
                    .control_2 {

                        .tabs__avtom,
                        .tabs__isp {

                            .tab__isp1,
                            .tab__isp2,
                            .tab__avtom1,
                            .tab__avtom2 {
                                font-size: 16px;
                            }
                        }

                        .tabs__p {
                            font-size: 16px;
                        }
                    }

                    .control_3 {
                        .sizes {
                            display: flex;
                            flex-direction: column;
                            text-align: center;

                            .sizes__count {
                                margin: 15px;
                            }

                            justify-content: center;
                        }
                    }

                    .control_3,
                    .control_4 {
                        .tabs__p {
                            font-size: larger;

                        }

                        display: flex;
                        justify-content: center;
                        width: 100%;
                        max-width: 100%;
                    }
                }

                .container_texture {
                    width: 70%;
                    display: flex;
                    justify-content: space-around;
                    font-size: larger;
                    align-items: center;

                    .texture__cards {
                        display: flex;
                        flex-direction: row;

                        .texture1 {
                            display: flex;
                            justify-content: center;

                            .first,
                            .second {
                                min-width: 120px;
                                text-align: center;

                                .img {
                                    margin: 0.2rem;

                                    img {
                                        width: 9.3vw;
                                        min-width: 90px;
                                        max-width: 110px;
                                    }
                                }
                            }
                        }

                        .texture2 {
                            .third {
                                width: 10vw;
                                min-width: 120px;
                                text-align: center;

                                .img {
                                    margin: 0.2rem;

                                    img {
                                        width: 9.3vw;
                                        min-width: 90px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (device-width:375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .container {

        .container__left {

            .container__left_bottom {
                max-width: 100%;

                .container_controls {
                    width: 70%;

                    .control_1,
                    .control_2 {
                        font-size: 10px;

                        .tabs__avtom,
                        .tabs__isp {
                            width: 380px;
                            max-width: 380px;

                            .tab__isp1,
                            .tab__isp2,
                            .tab__avtom1,
                            .tab__avtom2 {
                                font-size: 10px;
                            }

                            .tab__isp1:checked,
                            .tab__isp2:checked,
                            .tab__avtom1:checked,
                            .tab__avtom2:checked {
                                color: $base-white;
                                font-size: 10px;
                                background-color: $base-blue;
                                z-index: 5;
                                border-radius: 74px;
                                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
                            }

                            .glider__isp,
                            .glider__avtom {
                                display: none
                            }
                        }

                        .tabs__p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}