@import "../../styles/vars.scss";
.footerContainer{
    padding: 40px;
    color: $base-white;
    box-sizing: border-box;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(291.94deg, rgba(255, 255, 255, 0.2) 4.77%, rgba(255, 255, 255, 0) 26.71%), #003676;
}
.footerTitle{
    font-family: $fontD;
    font-weight: 400;
    font-size: 25pt;
}

iframe{
margin: 25px;}
.footerTxt{
    font-style: normal;
    font-weight: 100;
    font-family: $fontM;
    font-size: 18pt;
    width: 60%;
}
.footerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerLink{
    color: $base-white;
    width: fit-content;
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    font-family: $fontM;
    font-size: 12pt;
}