@import "../../styles/vars.scss";

.scheme {
    padding: 2vw 0;
    background-color: $base-blue;

    h2 {
        color: $base-white;
    }
}

.scheme__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1129px));
    box-sizing: border-box;
    max-width: 80%;
    margin: 3rem auto;


    .scheme__block {
        display: flex;
        align-items: center;
        background-color: $base-white;
        border-radius: 15px;
        margin: 15px;
        height: 163px;

        .text {
            font-family: $fontM;
            font-size: 2vw;
            padding-right: 15px;

            a {
                text-decoration: none;
                color: $base-blue;
            }

        }
    }
}