@import '../../styles/vars.scss';

.mainTitle{
    font-family: $fontD;
    box-sizing: content-box;
    width: fit-content;
    height: 100%;
    font-size: $base-h2;
    border-bottom: 5px solid;
    margin: 2rem 0;
    padding: 0 5vw 1vw 1vw;
}
@media  (max-width: 780px) {
    .mainTitle {
        font-size:5vw;

}
}
